demo_output/
old/
data.zip
libs/
session.rda
tmp.*
*nb.html
*.html
docs/
*~
.Rproj.user
.Rhistory
.RData
.Ruserdata
_book
_bookdown_files
docs
*.rds
*.Rproj
*.md
*_cache/
*_files/
DAA example
visualization_techniques.nb.html
.DS_Store

# Cachix stuff
cachix/.envrc
cachix/.devenv
cachix/.direnv
