/*-- scss:defaults --*/

$primary: #0087af !default;
$body-color: #070707 !default;

/*-- scss:rules --*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------ CUSTOM RULES ---------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

// Add any custom css styling here... 

span.navbar-title {
  font-size: 1.5em;
  text-align: center;
}

.quarto-title > h1.title {
    display: none;
}

.mt-2.flex-shrink-0.align-items-center {
        display: none; 
}

#title-block-header {
        display: none; 
}
	
#refs {
        display: none; 
}

#quarto-header {
  background: linear-gradient(139deg, rgba(0,135,175,1) 33%, rgba(255,255,255,1) 100%);
  background-size: flex;
  background-repeat: no-repeat;
}

#quarto-header a.navbar-brand,
#quarto-header .navbar-title, 
#quarto-header .bi.bi-git,
#quarto-header .bi.bi-twitter,
#quarto-header a.nav-link{
  color: white;
}

/* CSS pour ajuster la taille du logo de manière plus précise */
.navbar-brand-container {
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-height: 70px; /* Définir une hauteur maximale pour le logo */
    width: auto; /* Largeur automatique pour maintenir les proportions */
}

.navbar-nav {
  display:flex;
  display:-webkit-flex;
  flex-direction:column;
  -webkit-flex-direction:column;
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  font-size: 1.4em;
}

nav .nav-item.compact .nav-link {
  padding-left:.5rem;
  padding-right:.5rem;
  font-size:1.4rem
}

.navbar-brand-container {
  margin-right: 0px;
  margin-left: 0px;
}

#nav-menu-bi-git {
  padding-left: 0px;
  padding-right: 5px;
}

#quarto-header a.nav-link.dropdown-toggle .menu-text {
  display: none;
}

.aa-DetachedSearchButtonIcon svg {
  fill: white;
}

.mt-2.flex-shrink-0.align-items-center {
  display:block;
}

.quarto-title>h1.title,
.quarto-title>.title.h1 {
  display:block;
}

main>#title-block-header {
  display:block;
  text-align: center; 
  background-color: #6c757d8f; 
  background-border: #0087af;
  color: #fff;
  padding: 20px; 
  border-bottom-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

main>#title-block-header .title {
  border-bottom: none; 
}

main>header#title-block-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.quarto-section-identifier {
  color:#070707;
  font-weight:normal;
  margin-right:0;
}

.title {
  padding-top: 0px;
}

h2.anchored {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 28px;
  border-color: #0087af ;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

li.dropdown-header > span.menu-text {
  color: black; /* Définir la couleur du texte en noir */
}

.navbar>.container-xxl,
.navbar>.container-xl,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container,
.navbar>.container-fluid {
  display:flex;
  display:-webkit-flex;
  flex-wrap:inherit;
  -webkit-flex-wrap:inherit;
  align-items:center;
  -webkit-align-items:center;
  justify-content:space-between;
  -webkit-justify-content:flex-start;
}



/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ----------------- DEFAULT RULES ---------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

code { color: #070707; }

/* Code chunks ------------------------------------------ */

div.sourceCode {
  background-color: #ffffff00;
  border: 2px;
  border-radius: 8px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 10px 10px 0 rgba(0, 0, 0, 0.05), 0 22px 13px 0 rgba(0, 0, 0, 0.03), 0 39px 16px 0 rgba(0, 0, 0, 0.01), 0 61px 17px 0 rgba(0, 0, 0, 0);
}

pre.sourceCode.r, code.sourceCode.r {
  
  $border: 2px;
  color: #070707;
  background: #FFF;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 8px;
  
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: #0087af;
  }

}

/* Chapter label ---------------------------------------- */

.chapter-number::before {
  content: "Chapter ";
}

.chapter-number::after {
  content: " –";
}

/* Cover image ------------------------------------------ */

.quarto-cover-image {
  max-width: 250px;
  float: right;
  margin-left: 30px;
  margin-top: -30px;
  margin-right: 10%;
}

/* Left navbar ------------------------------------------ */

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  font-weight: 800;
}

.sidebar-title {
  font-weight: 800;
  background: #0087af;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar-tools-main {
  font-weight: normal;
  background: white;
  color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}

.sidebar-navigation li a {
  text-decoration: underline;
}

.text-start {
  text-align: left !important;
  font-weight: 800;
}

#quarto-sidebar {
  transition: width .15s ease-in;
  padding: 14px 10%;
  background-color: white;
}

.sidebar.sidebar-navigation:not(.rollup) {
  border-right: 0px !important
}

.sidebar-navigation .sidebar-item {
  font-size: 1rem;
  line-height: 2em;
}

.sidebar-menu-container {
  border: solid #0087af 2px;
  border-radius: 8px;
  padding: 8px;
  margin-top: 25px;
}

/* right navbar ----------------------------------------- */

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 4px solid #3792ad;
  font-weight: 800;
}

#toc-title+ ul > li > .nav-link {
  font-weight: 1000;
}



/* Headings and text styling --------------------------- */

h1 {
  font-size: 36px;
  color: #070707;
  font-weight: 700;
  border-image: linear-gradient(to right, #0087af, #0087af) 1;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}
h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 32px;
  border-bottom: 0px;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  line-height: 120%;
  margin: 0 0 1rem;
  width: fit-content;
  padding-top: 0.5rem;
  color: #070707;
}

p {
  margin: 1rem 1rem 1rem 10rem; 
  font-size: 1rem;
  color: #070707;
  line-height: 130%;
  text-align: justify; 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.quarto-section-identifier {
  color: #070707;
  font-weight: normal;
  margin-right : 10rem
}

ul li::marker {
  color: #3792ad; 
}

/* Underlining links ------------------------------------ */

.citation a, .footnote-ref {
  text-decoration: underline;
}

/* Printing --------------------------------------------- */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}
