/*-- scss:defaults --*/

$primary: #008CBA !default;

/*-- scss:rules --*/

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------ CUSTOM RULES ---------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

// Add any custom css styling here... 



/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ----------------- DEFAULT RULES ---------------------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

code { color: #008CBA; }

/* Cover image ------------------------------------------ */

.quarto-cover-image {
  max-width: 250px;
  float: right;
  margin-left: 30px;
  margin-top: -30px;
  margin-right: 10%;
}

/* Left navbar ------------------------------------------ */

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  font-weight: 800;
}

.text-start {
  text-align: left !important;
  font-weight: 800;
}

#quarto-sidebar {
  transition: width .15s ease-in;
  padding: 14px 10%;
}

/* right navbar ----------------------------------------- */

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 4px solid;
  font-weight: 800;
}

#toc-title+ ul > li > .nav-link {
  font-weight: 800;
}

/* Headings --------------------------------------------- */

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
h3 { margin-top: 1.5em; font-size: 1.2rem; }
h4 { margin-top: 1.5em; font-size: 1.1rem; }
h5 { margin-top: 1.5em; font-size: 1rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  line-height: 2;
  font-weight: 700;
}

.quarto-section-identifier {
  color: #6C6C6C;
  font-weight: normal;
}

/* Underlining links ------------------------------------ */

.citation a, .footnote-ref {
  text-decoration: underline;
}

/* Printing --------------------------------------------- */

@media print {
  :root {
    font-size: 11pt;
  }
  #quarto-sidebar, #TOC, .nav-page {
    display: none;
  }
  .page-columns .content {
    grid-column-start: page-start;
  }
  .fixed-top {
    position: relative;
  }
  .panel-caption, .figure-caption, figcaption {
    color: #666;
  }
}